.navbar-default {
  margin-bottom: 0px !important;
  background-color: lighten(#d32323, 3);
  border-radius: 0px;
  border-color: #d32323;

  a {
    color: white !important;
  }
}

.navbar-brand {
  font-family: Satisfy;
  position: relative;
  left: 25%;
  top: -7px;
  font-size: 36px;
}

#under-nav {
  display: flex;
  height: 21px;
  max-height: 21px;
  background-color: darken(#D32323, 4);
  margin-bottom: 40px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

#under-nav-bar {

  a {
    padding: 3px 60px 3px 10px;
    margin-right: 10px;
    width: 100px;
  }

  a:visited {
    color: white;
  }

  a:hover {
    background-color: darken(#D32323, 15);
    text-decoration: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  max-height: 21px;
  background-color: darken(#D32323, 4);
  margin-bottom: 40px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.form-group {
  position: relative;
  left: 4%;
}

#search-bar {
  position: relative;
  width: 300px;
  height: 30px;
  text-indent: 24px;
  border-radius: 5px;
  border: none;
  z-index: 1;
}

#splash-search-bar {
  position: relative;
  width: 477px;
  height: 50px;
  text-indent: 57px;
  border-radius: 5px;
  border: none;
  z-index: 1;
  font-size: 25px;
}

.search-input-btn {
  position: relative;
  top: 13px;
  right: -17px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

#splash-psuedo-near-input {
  position: relative;
  color: #666;
  font-size: 17px;
  top: 46px;
  left: 33px;
  z-index: 3;
  font-family: serif;
  font-weight: bold;
}

#splash-near-search {
  position: relative;
  width: 327px;
  height: 50px;
  text-indent: 5px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  right: 10px;
  z-index: 2;
  font-size: 25px;
}

#splash-psuedo-find-input {
  position: relative;
  color: #333333;
  font-size: 17px;
  top: 45px;
  left: -348px;
  z-index: 3;
  font-family: serif;
  font-weight: bold;
}

.splash-input-group-addon {
  position: absolute;
  right: -32px;
  background-color: #c22020;
  border: none;
  color: white;
  height: 50px;
  display: flex;
  width: 50px;
  border-radius: 4px;
}

#near-search-bar {
  position: relative;
  width: 269px;
  height: 30px;
  text-indent: 24px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  right: 10px;
  z-index: 2;
}

#psuedo-find-input {
  position: relative;
  color: #333333;
  font-size: 12px;
  top: -1px;
  right: -53px;
  z-index: 3;
  font-family: serif;
  font-weight: bold;
}

.navbar-form .form-control:focus {
  border: none !important;
  outline: none;
  box-shadow: none;

}

.input-group-addon {
  position: relative;
  right: 12px;
  background-color: darken(#D32323, 4);
  border: none;
  color: white;
}

#psuedo-near-input {
  position: relative;
  color: #333333;
  font-size: 12px;
  top: -1px;
  right: -320px;
  z-index: 3;
  font-family: serif;
  font-weight: bold;
}

#under-nav-links {
  flex: 1;
}

@media (min-width: 200px) and (max-width: 650px) {
  #under-nav-bar a {
    padding: 0;
  }

  #search-bar {
    position: absolute;
  }
}

@media (max-width: 1218px) {
  .navbar-brand {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 695px) {
  .navbar-brand {
    display: block;
  }
}

@media (min-width: 768px){
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 6px;
  }
}
