.search-results {
}

.business-item-photo {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.business-item-contact {
  position: relative;
  top: -94px;
  left: 394px;
  font-size: 14px;
}

.media {
  height: 105px;
}

.media-left {
  padding: 0;
}

// [class*="col"] { background: #EEF; }

.business-name {
  font-size: 16px;
}

.rating-reviews {
  font-size: 15px;
}

.business-review-count {
  position: relative;
  top: -1px;
  margin-left: 10px;
}

.business-page-review-count {
  position: relative;
  top: -6px;
  margin-left: 10px;
}

.business-item {
  margin-bottom: 5px;
}

.business-price-categories {
  font-size: 14px;
}

.businesses-map {
  height: 300px;
  width: 300px;
  position: relative;
  left: 24%;
}

.media, .media-body {
  overflow: none !important;
}

@media (max-width: 450px) {
  .business-review-count {
    position: absolute;
    top: 33px;
  }

  .businesses-map {
    width: 410px;
  }
}

@media (min-width: 350px) and (max-width: 990px) {
  .businesses-map {
    width: 410px;
    left: 3%;
  }

  .business-results {
    left: 0;
  }
}

.media {
  min-width: 100%;
}

// Business Form

#hours, .form-right {
  margin-top: 15px;
}

.business-form-image {
  width: 15%;
}

.form-left {
  margin-bottom: 10px;
}

.business-edit-form, .business-new-form {
  letter-spacing: 3px;
  font-size: 14px;

  input::placeholder {
    font-family: inherit;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: white;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  input:focus {
    outline: none !important;
  }

  input[type='text'] {
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    width: 325px;
    padding: 5px;
  }

  input[type="submit"] {
    text-transform: capitalize;
    margin-top: 10px;
  }

  input[type="submit"]:hover {
  }

  label {
    margin-right: 10px;
  }
}

#hours {
  label {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  input[type='text'] {
    width: 96px;
    height: 30px;
    font-size: 12px;
    margin: 0px;
  }

  span {
    margin-top: 25px;
  }

  #delete-business {
    position: relative;
  }
}

//// THIS IS FOR THE BUSINESS PAGE

.business-page {
  width: 900px;
  margin: 0 auto;
}

.business-page-row {
  display: flex;
  justify-content: space-between;
}

.business-page-upload {
  span {
    font-size: 18px;
    margin-top: 35px;
    margin-left: 15px;
  }
}

#map {
  width: 300px;
  height: 200px;
}

.business-form-layout {
  display: flex;
  width: 900px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
  background: rgba(#d42b2b, 0.85);
  margin: 0 auto;
  border: 1px solid rgba(79, 77, 96, 0.59);
  border-radius: 5px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgb(232, 117, 92);
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: inline-block;
    padding: 3px 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(166, 65, 65);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}
