.search-results {
}

.business-results {
  position: relative;
  left: 20%;

}

.business-item-photo {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.business-item-contact {
  position: relative;
  top: -94px;
  left: 265px;
  font-size: 14px;
}

.media {
  height: 105px;
}

.media-left {
  padding: 0;
}

// [class*="col"] { background: #EEF; }

.business-name {
  font-size: 16px;
}

.rating-reviews {
  font-size: 15px;
}

.business-review-count {
  position: relative;
  top: -12px;
  margin-left: 10px;
}

.business-item {
  margin-bottom: 5px;
}

.business-price-categories {
  font-size: 14px;
}

.businesses-map {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  position: relative;
  left: 20%;
}

@media (max-width: 450px) {
  .business-review-count {
    position: absolute;
    top: 33px;
  }

  .businesses-map {
    width: 410px;
  }
}

@media (min-width: 350px) and (max-width: 990px) {
  .businesses-map {
    width: 410px;
    left: 3%;
  }

  .business-results {
    left: 0;
  }
}

.media {
  min-width: 100%;
}

// Business Form

#hours, .form-right {
  margin-top: 15px;
}

.business-form-image {
  width: 15%;
}

.form-left {
  margin-bottom: 10px;
}

.business-edit-form, .business-new-form {
  letter-spacing: 3px;
  font-size: 14px;

  input::placeholder {
    font-family: inherit;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: white;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  input:focus {
    outline: none !important;
  }

  input[type='text'] {
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    width: 325px;
    padding: 5px;
  }

  input[type="submit"] {
    text-transform: capitalize;
    margin-top: 10px;
  }

  input[type="submit"]:hover {
  }

  label {
    margin-right: 10px;
  }
}

#hours {
  label {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  input[type='text'] {
    width: 96px;
    height: 30px;
    font-size: 12px;
    margin: 0px;
  }

  span {
    margin-top: 25px;
  }

  #delete-business {
    position: relative;
  }
}
