$primary-color: #d32323;
$text-color: #DFDCE3;
$default-color: gray;
$primary-font: 'Bubbler One', sans-serif;
$logo-font: 'Satisfy', cursive;

.auth-layout {
  width: 80%;
}

#demo-login {
  position: relative;
  top: -34px;
  left: 90px;
  width: 70px;
}

#form-submit {
  position: relative;
  right: 40px;
  width: 170px;
}

.auth-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
  border: solid #ccc 1px;
  border-radius: 10px;
  text-align: center;
  background: lighten($primary-color, 7);
  padding: 15px;
}

.auth-header {
  font-family: $logo-font;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2.2em;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.form-left {
  padding-top: 50px;
}

.form-image {
  height: 60%;
  width: 60%;
}

.form-errors {
  color: red;
  list-style: none;
  letter-spacing: -1px;
  position: absolute;
}

.form-errors:empty {
  opacity: 0;
}

.auth-form {
  letter-spacing: 3px;

  input::placeholder {
    font-family: inherit;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: white;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  input:focus {
    outline: none !important;
  }

  .auth-username, .auth-password {
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    width: 250px;
    padding: 5px;
  }

  input[type="submit"] {
    text-transform: capitalize;
    background: #EFEFEF;
    color: #4ABDAC;
  }

  input[type="submit"]:hover {
  }
}

@media only screen and (max-width: 786px) {
  .form-left {
    padding-top: 20px;
    border: none;
    img {
    }
  }
}

@media (min-width: 260px) and (max-width: 1200px) {
  .form-left {
    img {
      width: 30%;
    }
  }
}

@media (min-width: 1200px) and (max-width: 22200px) {
  .form-left {
    img {
      position: relative;
      top: -30px;
      right: -70px;
    }
  }
}

.media {
  width: 740px;
}
